@import "tailwindcss";

@theme {
  --color-midnight-blue: #0F172A;
  --color-royal-blue: #2563EB;
  --color-accent-teal: #10B981;
  --color-off-white: #F8FAFC;
  --font-sans: "Inter", "sans-serif";
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F8FAFC;
  color: #0F172A;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}